body {
    background-color: #9370DB;
	font-size: 40px;

}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
    color: white;
}

div {
 	font-family: "Times New Roman";
    font-size: 15px;
    width: 300px;
    padding: 25px;
    border: 20px solid white;
    margin: 25px;
    background-color: white;


    
}