//body {
  //  background-color: #9370DB;
	//font-size: 40px;

//}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
    color: black;
}

div {
 	font-family: "Times New Roman";
    font-size: 15px;
    width: 300px;
    padding: 25px;
    border: 20px solid white;
    margin: 25px;
    background-color: white;
}
.red {
  fill: red; /* not background-color! */
}

.fancy {
  fill: none;
  stroke: black; /* similar to border-color */
  stroke-width: 3pt; /* similar to border-width */
  stroke-dasharray: 3,5,10;
}

    
	<script type="text/javascript" src="d3.min.js"></script>
