body{
	font-family: arial;
	background-color: #606060
}

/** {
	padding: 0;
 	margin: 0;
 }*/
#myCanvas {
	background: url(Resources/Background/test2.jpg);
	display: block; 
	margin: 0 auto;
}


#visDiv{
	float: left;
	height: 600px;
	/*width: 700px;*/
	width: 350px;

	padding-top: 25px;
	padding-right: 25px;
	padding-left:25px;
}


#gameDiv{
	float: left;
	width:480px;
	height: 600px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
}


#speedDiv{
	float: left;
	width: 400px;
	height: 600px;
	padding-top: 25px;
	padding-left: 25px;
	border-style: solid;
}

.speedView{
	width: 380px;
	height: 180px;
	background-color : #6495ed;
	border-style: solid;
}

#pauseButton{
	float: right;
}

.ui{
	display: none;
}

.mainMenu{
	position: absolute;
}

#howTo{
	bottom: 240px;
	left: 175px;
	width: 180px;
	height: 50px;
}

#play{
	bottom: 300px;
	left: 175px;
	width: 180px;
	height: 50px;
}


#menuLogo{
	bottom: 380px;
	left: 115px;
	width: 300px;
	height: 150px;
	visibility: visible;
}

h1{
	text-align:center;
	color:#660066;
	text-shadow: 1px 1px 2px black, 0 0 25px white;
}

h2{
	text-align:right;
	margin-right: 15%;
}

h3{
	margin-left: 40px;

}
pre{
	font-family: airal;
	font-size: 17px;
	font-weight: bold;

}


ul#info{
	margin-left:70%;
}
ul#info li {
    display:inline;
}
ul#info li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#info li a:hover {
    background-color: white;
    color:black;
}

ul#games li{
	margin: 10px 0;
}

ul#games li a{
    background-color: black;
    color: white;
    padding: 3px 7px;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
}
ul#games li a:hover {
    background-color: white;
    color:black;
}

img{
	visibility: hidden;
	height: 10px;
	width: 10px;
}
img#table{
	visibility:visible;
	height: 100px;
	width: 530px;
}